
body {
    position: relative;
  }
  

/* section navbar */
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.9;
  }
  .brand-pinmode {
    display : flex;
  }
  
  .navbar li a {
    display:block;
    /*padding:12px 10px;*/ 
    color:#fff; 
    font-size: 0.82rem;
    line-height: 20px;
    font-weight: 600; 
    letter-spacing:.21em; 
    text-transform:uppercase;
  } 
  
  .shift-item { padding-right: 1.0rem; }
  .navbar li .fa { color: #008ed6; }
  .navbar li .fa:hover { color: #F15025; }
  
  .logo-text {font-size:28px; color:#fff; transition:color .3s ease-in-out 0s;}
  
  .navbar-brand.logo-text {
    margin-right : 0;
  }
  
  #navbar-pinmode a:hover.logo-text{
    transform: scale(1.2); 
  }
  /* end of section navbar */


.slider{
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    position: relative;
}

.slider .container .overlay-dark {
    width: 100%;
    background: rgba(61, 60, 60, 0.65);
   /* position: absolute;*/
    color: white;


} 

.overlay-dark .h1 {
    text-align: center;
    font-size: 2.3rem;
    padding-top: 15px;
    padding-right: 20px;
}

.overlay-dark .chapmionship {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 25px;

}

.overlay-dark .header-line {
    padding-top: 120px;
    text-align: center;
    font-size: 3.4rem;

}


.text-M {font-weight: bold; color:#008ed6;}
.text-ardu {font-weight: bold; color: #00979d;}
.text-orange { color: #F15025; }
.text-red { font-weight: bold; color: red; }

#about { 
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e9ecef; 
}

#result {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e9ecef; 
}


#registration { 
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f5f5f5; 
}

#reglaments { 
    padding-top: 50px;
    padding-bottom: 50px;
    background:#D3D3D3 ; 
}


#galary {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e9ecef; 
}


.section-title {
    padding-top: 20px;
    padding-bottom: 10px;
}

article.info-challenge a { color: black;}

/* section contacts */
.section-title{border-bottom-width:0; margin-bottom:40px; position:relative;}
.section-title {padding-bottom: 10px;}
.section-title h2:before {bottom:0; background-color: #008ed6; content:"";
  display:block; height:3px; left:0; right:0; margin:-2px auto; position:absolute; width:50px;}
.contacts-list{position:relative; margin:-15px 0 45px; text-align:center;}
.contact-item{display:inline-block; margin:0 15px; text-align:center;}
.contact-item a{white-space:nowrap;}
.contacts-list a:hover {color: #F15025;}


/* section footer */
footer {
    background-color: #FFFACD;
    padding: 2rem 0; 
    font-size: 1.2rem;
  }
  
  .phone-code{ color: rgb(245, 65, 16);}
  footer .phone:link { color: black;}
  footer .fa-instagram { margin: 1rem; }
  footer .fa-vk { margin: 1rem; }
  footer .fa-facebook { margin: 1rem; }
  footer .fa-instagram:hover { color: #F15025; }
  footer .fa-vk:hover { color: #F15025; }
  footer .fa-angle-double-up:hover { color: #F15025; }
  footer .fa-facebook:hover { color: #F15025; }
  /* end of section footer */
  
  
  @media (min-width: 576px) {
    .home-inner { padding: 4rem 2rem; }
  }
  
  @media (max-width: 576px) {
      .display-4 { font-size: 3.0rem;  }
      .main h2 { font-size: 1.4rem; }
      .table {font-size: 0.75rem;} 
    }
  
